<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Pdf" version="11.1.1" targetFramework="net452" />
  <package id="MathNet.Filtering" version="0.2.0-alpha" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.8.0" targetFramework="net452" />
  <package id="OxyPlot.Core" version="1.0.0-unstable1886" targetFramework="net452" />
  <package id="OxyPlot.Wpf" version="1.0.0-unstable1886" targetFramework="net452" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net452" />
  <package id="PDFsharp-MigraDoc-WPF" version="1.32.2608.0" targetFramework="net452" />
</packages>